### TASK 7 
### Stock market prediction using textual and numerical analysis
#### objective : create a hybrid model for stock price or perfomence prediction using 
#### numerical analysis of historical stock prices and sentimental analysis of news headlines.

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib Inline

In [4]:
l=pd.read_csv('india-news-headlines.csv')

In [6]:
l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424067 entries, 0 to 3424066
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   publish_date       int64
 1   headline_category  object
 2   headline_text      object
dtypes: int64(1), object(2)
memory usage: 78.4+ MB

In [13]:
l.describe(include='all')

        publish_date headline_category     headline_text
count   3.424067e+06           3424067           3424067
unique           NaN              1013           3168800
top              NaN             india  Straight Answers
freq             NaN            288541              6723
mean    2.012659e+07               NaN               NaN
std     4.981132e+04               NaN               NaN
min     2.001010e+07               NaN               NaN
25%     2.009113e+07               NaN               NaN
50%     2.013092e+07               NaN               NaN
75%     2.017013e+07               NaN               NaN
max     2.020123e+07               NaN               NaN